@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Light theme (default) */
:root {
  --bg-primary: #f8fafc;
  --bg-secondary: #ffffff;
  --card-bg: #ffffff;
  --card-border: #e2e8f0;
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #64748b;
}

/* Dark theme */
.dark {
  --bg-primary: #000000;
  /* --bg-secondary: #0a0e17; */
  --bg-secondary: #020306;
  /* --card-bg: #0f0f17; */
  --card-bg: #050508;
  --card-border: #1a1a2e;
  --text-primary: #ffffff;
  --text-secondary: #e5e5e5;
  --text-muted: #9ca3af;
}

body {
  @apply bg-primary-bg text-primary-text;
}